<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<body>
	<header th:fragment="header" class="site-header">
		<div class="site-header-inner">
			<a th:href="@{/}" class="site-logo">NAGOYAMESHI</a>

			<nav class="site-nav">

				<a th:href="@{/shops}">店舗一覧</a>

				<a th:href="@{/mypage}" sec:authorize="isAuthenticated()">マイページ</a>
				<a th:href="@{/company}">会社情報</a>
				<a th:href="@{/login}" sec:authorize="isAnonymous()">ログイン</a>

				<a th:href="@{/admin/dashboard}" sec:authorize="hasRole('ADMIN')">
					管理者ダッシュボード
				</a>
				<span sec:authorize="hasRole('ADMIN')">｜</span>
				<a th:href="@{/admin/shops}" sec:authorize="hasRole('ADMIN')">
					店舗管理
				</a>

				<a th:href="@{/admin/users}" sec:authorize="hasRole('ADMIN')">
					ユーザー管理
				</a>

				<a th:href="@{/admin/categories}" sec:authorize="hasRole('ADMIN')">
					カテゴリ管理
				</a>

				<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="logout-form">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<button type="submit">ログアウト</button>
				</form>
			</nav>
		</div>
	</header>
</body>

</html>